<nav class="card bg-White h-fit rounded-md">
  <h2 class="text-[12px] text-MainDark bg-MainLight p-2">営業管理</h2>
  <ul>
    <li class="border-b-[1px] border-MainHighlight">
      <a class="w-full h-full flex flex-row items-center justify-between p-3 hover:bg-MainHighlight" href="">
        <div class="flex flex-row justify-start items-center gap-2">
          <span>
            <include src="components/icon/analytics.svg"></include>
          </span>
          <span class="text-MainDark">分析</span>
        </div>
        <span>
          <include src="components/icon/chevron-right.svg"></include>
        </span>
      </a>
    </li>
    <li class="w-full h-full flex flex-row items-center justify-between p-3">
      <div class="flex flex-row justify-start items-center gap-2">
        <span>
          <include src="components/icon/analytics.svg"></include>
        </span>
        <span class="text-MainDark">案件</span>
      </div>
      <ul class="flex flex-row gap-[1px] rounded-md overflow-clip">
        <li>
          <a href="" class="button text-[11px] gap-1 min-h-[20px] inline-flex items-center p-2">
            <span>
              <include src="components/icon/plus.svg"></include>
            </span>
            <span>追加</span>
          </a>
        </li>
        <li>
          <a href="" class="button text-[11px] gap-1 min-h-[20px] inline-flex items-center p-2">
            <span><include src="components/icon/list.svg"></include></span>
            <span>一覧</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="w-full h-full flex flex-row items-center justify-between p-3">
      <div class="flex flex-row justify-start items-center gap-2">
        <span>
          <include src="components/icon/analytics.svg"></include>
        </span>
        <span class="text-MainDark">顧客</span>
      </div>
      <ul class="flex flex-row gap-[1px] rounded-md overflow-clip">
        <li>
          <a href="" class="button text-[11px] gap-1 min-h-[20px] inline-flex items-center p-2">
            <span>
              <include src="components/icon/plus.svg"></include>
            </span>
            <span>追加</span>
          </a>
        </li>
        <li>
          <a href="" class="button text-[11px] gap-1 min-h-[20px] inline-flex items-center p-2">
            <span><include src="components/icon/list.svg"></include></span>
            <span>一覧</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>